<h3>{{concert.artist}} Live at {{concert.venue}} {{concert.year}}</h3>
<div class="video embed-responsive embed-responsive-4by3"><iframe class="embed-responsive-item" width="900" height="500" ng-src="{{concert.url}}" frameborder="0" allowfullscreen></iframe></div>
<div class="description">
	<h4> Artists: </h4>
	<ul>
	    <li ng-repeat="artist in concert.artists">{{artist}}</li>
	</ul>
	<div class="row">
		<div class="col-sm-6"> <h4> Year: </h4><p> {{concert.year}} </p> </div>
		<div class="col-sm-6"> <h4> Venue: </h4><p> {{concert.venue}} </p> </div>
	</div>
	<div class="row">
		<div class="col-sm-6"> <h4> Festival: </h4><p> {{concert.festival}} </p> </div>
		<div class="col-sm-6"> <h4> City: </h4><p> {{concert.city}} </p> </div>
	</div>
</div>