body {
	font-family: Helvetica, "Times New Roman", serif;
}

header {
	background: #999999;
	padding: 5px 5px 15px 5px;
	margin-bottom: 10px;

	h1 {
		text-align: center;
		margin: 5px 0;
	}

	h2 {
		text-align: center;
		margin-top: 10px;
	}
}

nav {
	margin-bottom: 25px;

	ul {
		list-style-type: none;
		text-align: center;
		padding-left: 0;

		li {
			display: inline;
			margin: 0 5px;

			a:hover {
				background-color: #999999;
			}
		}
	}
}

.wrapper {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.description {
	margin-bottom: 20px;
	text-align: left;

	h4 {
		display: inline-block;
		font-weight: 500;
		font-size: 16px;
		margin-right: 10px;
		width: 75px;
	}

	p {
		display: inline-block;
	}

	ul {
		padding-left: 0;
		margin-left: 20px;

		li {
			margin: 0 10px;
			display: list-item;
			text-align: left;
		}
	}
}

.list {
	ul {
		list-style-type: none;
		padding-left: 0;
	}
}