<div class="list wrapper">
	<div>
	  <input type="text" ng-model="search"/>
	  <select ng-model="orderBy">
	    <option value="artist">By artist</option>
	    <option value="genre">By genre</option>
	    <option value="venue">By venue</option>
	  </select>
	  <ul>
	    <li ng-repeat="concert in concerts | filter:search | orderBy: orderBy as filtered">
			<a ui-sref="watch({id: concert.id})">
			{{concert.artist}} Live at {{concert.venue}} {{concert.year}}<br/></a>
	      	artist: {{concert.artist}}<br/>
	      	genre: {{concert.genre}}<br/>
	      	venue: {{concert.venue}}</br>
	      	<hr>
	    </li>
	  </ul>
	  <span>Total concerts: {{filtered.length}}</span>
	</div>
</div>