<div class="list wrapper">
	<div class="search">
	  <input type="text" ng-model="q"/>
	  <label>Sort by: </label>
	  <select ng-model="orderBy">
	    <option value="artist">artist</option>
	    <option value="genre">genre</option>
	    <option value="venue">venue</option>
	  </select>
	  <div class="total-count">Number of concerts: {{filtered.length}}</div>
	  <br>
	  <ul>
	    <li ng-repeat="concert in concerts | filter:q | orderBy: orderBy as filtered">
	    	<div class="result">
				<a ui-sref="watch({id: concert.id})">
				<span>{{concert.artist}} Live at {{concert.venue}} {{concert.year}}</span><br/></a>
		      	<span ng-show="concert.artist">artist: {{concert.artist}}</span><br/>
		      	<span ng-show="concert.genre">genre: {{concert.genre.toString()}}</span><br/>
		      	<span ng-show="concert.venue">venue: {{concert.venue}}</span></br>
	      	</div>
	    </li>
	  </ul>
	</div>
</div>